<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Frameworks</h1>
    <h2>Flask</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos optio id, laborum, eaque nesciunt exercitationem consectetur repellat impedit adipisci aut, cumque error a dicta quasi tenetur odio accusamus quod quos.</p>

    <h2>Django</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus magni modi omnis? Suscipit repellendus est corporis assumenda impedit commodi. Repellat dolorem necessitatibus deserunt eius fugiat excepturi quasi eaque enim debitis!</p>

    <h2>FastApi</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga placeat delectus odit sit minima nemo tempore possimus qui amet labore mollitia ipsa, sed animi beatae quidem, maxime quia, autem exercitationem?</p>

    <h2>Web2py</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio facilis, adipisci autem sapiente iste ipsa sit expedita, culpa distinctio ipsam ut explicabo odit, voluptatibus dicta temporibus! Est maxime quam reprehenderit?</p>

</body>
</html>